.header {
    background: var(--background);
    height: 120px;
    padding: 10px;
    padding-bottom: 0px;
}

.header h1 {
    color: var(--title);
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.header nav {
    float: right;
}

.header li {
    padding-left: 15px;
    font-weight: bold;
    font-size: 30px;
    color: var(--title);
    font-family:'Plus Jakarta Sans', sans-serif;
}

a:hover {
    box-shadow: inset;
    color: white
}
