/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@400;700&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --background: #393f5e; */
  --background: #FFCBDE;
  /* --accent: aliceblue; */
  --accent: #FF1D25;
  /* --title: rgb(117, 242, 89); */
  --title: #FF1D25;
  /* --darkerblue: rgb(38, 44, 74); */
  --darkerblue: rgb(38, 44, 74);
  /* --headers: aliceblue; */
  --headers: #FF1D25;
  --blueaccent: #007bff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0px 20px 20px 20px;
}


h2 {
  padding: 0px 10px 0px 10px;
  color: var(--headers);
  font-family:'Plus Jakarta Sans', sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-align: left;
}

.subtitle{
  text-align: center;
  font-size: 80px;
  color: var(--title);
  font-weight: 700;
}

h3 {
  padding: 10px;
  color: var(--headers);
  font-weight: 700;
}

.content {
  padding:20px;
}

body {
  font-family:'Plus Jakarta Sans', sans-serif;
  background-color: var(--background);
  color: var(--headers);
  font-weight: 600;
}


p {
  font-size: 18px;
  font-family:'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
}

.avatar {
  padding-bottom: 40px;
  width: 220px;
}

#about-col {
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

li {
  /* padding-left: 10px; */
  font-weight: 400;
  font-size: 20px;
  color: var(--title);
  font-family:'Plus Jakarta Sans', sans-serif;
}

form {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 400px;
}

input {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 60%;
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
  border: none;
  
}

.formMessage {
  height: 120px;
}

.formButton {
  width: 50%;
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
  font-weight: bold;
}

.proficiencies {
  margin-bottom: 40px;
}

.resume-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--accent);
}

#skills-section {
  background-color: #FFE3ED;
}

footer {
  padding: 50px 0;
  color: var(--accent);
}

footer .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer .item.social {
    text-align:center;
    margin-top:20px;
  }
}


footer .item.social > a {
  font-size: 36px;
  width: 52px;
  height: 52px;
  line-height:52px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin:0 8px;
  color:#fff;
  opacity:0.65;
}

.footer .item.social > a:hover {
  opacity:0.95;
}

.footer .copyright {
  text-align:center;
  padding-top:24px;
  font-size:16px;
  margin-bottom:0;
}

.card-title {
  font-weight: bold;
  color: var(--accent);
  font-size: 24px;
}

.card-text {
  font-weight: bold;
  color: var(--darkerblue);
  font-size: 15px;
}

.about {
  text-align: center;
  color: var(--accent)
}

.skills-list {
  list-style: none;
}

.skills-list li {
  color: var(--accent);
  font-weight: 700;
}

#contact-content p {
  text-align: left;
  font-size: 22px;
}

#contact-list {
  list-style: none;
  text-align: left;
}

#downloadBtn {
  padding: 12px;
}

.resume {
  padding: 20px 20px 30px 20px
}


/* Mobile and ablet menu */
@media all and (max-width: 768px) {
.subtitle {
  font-size: 42px;
}
}


/* Desktop menu */
@media all and (max-width: 980px) {

}