@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  margin: auto;
  box-sizing: border-box;
}

:root {
  --background: #393f5e;
  --accent: aliceblue;
  --title: rgb(117, 242, 89);
  --darkerblue: rgb(38, 44, 74);
  --headers: aliceblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding:20px;
}

h2 {
  padding: 10px;
  padding-bottom: 0px;
  color: var(--headers);
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: left;
}

.subtitle{
  padding-left: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

h3 {
  padding: 10px;
  color: var(--headers);
}

.content {
  padding:20px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--headers);
}


p {
  font-size: 18px;
}


.avatar {
  border-radius: 50%;
  width: 220px;
  padding-bottom: 40px;
}


ul.navbar-nav {
  flex-direction: row;
}

li {
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: var(--title);
  font-family: 'Inter', 'sans-serif';
}

form {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 400px;
}

input {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 60%;
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
  border: none;
  
}

.formMessage {
  height: 120px;
}

.formButton {
  width: 50%;
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
  font-weight: bold;
}

.proficiencies {
  margin-bottom: 40px;
}

.resume-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}